ChangeLog
INSTALL
*.cache
config.guess
config.h
config.h.in
*.log
*.status
config.sub
configure
depcomp
install-sh
missing
stamp-h*
*.o
*~
*.gbf
*.gpr
lib/quartz-wm.rep/idata/*/*.db/tmp*.ps
*.lock

Makefile.in
Makefile
